@font-face {
    font-family: 'HelveticaInseratLTStd-Roman';
    src: url('./HelveticaInseratLTStd-Roman.otf') format('opentype');
}

/* HelveticaLTStd-Blk.otf */
@font-face {
    font-family: 'HelveticaLTStd-Blk';
    src: url('./HelveticaLTStd-Blk.otf') format('opentype');
}

/* HelveticaLTStd-BlkCond.otf */
@font-face {
    font-family: 'HelveticaLTStd-BlkCond';
    src: url('./HelveticaLTStd-BlkCond.otf') format('opentype');
}

/* HelveticaLTStd-BlkCondObl.otf */
@font-face {
    font-family: 'HelveticaLTStd-BlkCondObl';
    src: url('./HelveticaLTStd-BlkCondObl.otf') format('opentype');
}

/* HelveticaLTStd-BlkObl.otf */
@font-face {
    font-family: 'HelveticaLTStd-BlkObl';
    src: url('./HelveticaLTStd-BlkObl.otf') format('opentype');
}

/* HelveticaLTStd-Bold.otf */
@font-face {
    font-family: 'HelveticaLTStd-Bold';
    src: url('./HelveticaLTStd-Bold.otf') format('opentype');
}

/* HelveticaLTStd-BoldCond.otf */
@font-face {
    font-family: 'HelveticaLTStd-BoldCond';
    src: url('./HelveticaLTStd-BoldCond.otf') format('opentype');
}

/* HelveticaLTStd-BoldCondObl.otf */
@font-face {
    font-family: 'HelveticaLTStd-BoldCondObl';
    src: url('./HelveticaLTStd-BoldCondObl.otf') format('opentype');
}

/* HelveticaLTStd-BoldObl.otf */
@font-face {
    font-family: 'HelveticaLTStd-BoldObl';
    src: url('./HelveticaLTStd-BoldObl.otf') format('opentype');
}

/* HelveticaLTStd-Comp.otf */
@font-face {
    font-family: 'HelveticaLTStd-Comp';
    src: url('./HelveticaLTStd-Comp.otf') format('opentype');
}

/* HelveticaLTStd-Cond.otf */
@font-face {
    font-family: 'HelveticaLTStd-Cond';
    src: url('./HelveticaLTStd-Cond.otf') format('opentype');
}

/* HelveticaLTStd-CondObl.otf */
@font-face {
    font-family: 'HelveticaLTStd-CondObl';
    src: url('./HelveticaLTStd-CondObl.otf') format('opentype');
}

/* HelveticaLTStd-ExtraComp.otf */
@font-face {
    font-family: 'HelveticaLTStd-ExtraComp';
    src: url('./HelveticaLTStd-ExtraComp.otf') format('opentype');
}

/* HelveticaLTStd-Fraction.otf */
@font-face {
    font-family: 'HelveticaLTStd-Fraction';
    src: url('./HelveticaLTStd-Fraction.otf') format('opentype');
}

/* HelveticaLTStd-FractionBold.otf */
@font-face {
    font-family: 'HelveticaLTStd-FractionBold';
    src: url('./HelveticaLTStd-FractionBold.otf') format('opentype');
}

/* HelveticaLTStd-Light.otf */
@font-face {
    font-family: 'HelveticaLTStd-Light';
    src: url('./HelveticaLTStd-Light.otf') format('opentype');
}

/* HelveticaLTStd-LightCond.otf */
@font-face {
    font-family: 'HelveticaLTStd-LightCond';
    src: url('./HelveticaLTStd-LightCond.otf') format('opentype');
}

/* HelveticaLTStd-LightCondObl.otf */
@font-face {
    font-family: 'HelveticaLTStd-LightCondObl';
    src: url('./HelveticaLTStd-LightCondObl.otf') format('opentype');
}

/* HelveticaLTStd-LightObl.otf */
@font-face {
    font-family: 'HelveticaLTStd-LightObl';
    src: url('./HelveticaLTStd-LightObl.otf') format('opentype');
}

/* HelveticaLTStd-Obl.otf */
@font-face {
    font-family: 'HelveticaLTStd-Obl';
    src: url('./HelveticaLTStd-Obl.otf') format('opentype');
}

/* HelveticaLTStd-Roman.otf */
@font-face {
    font-family: 'HelveticaLTStd-Roman';
    src: url('./HelveticaLTStd-Roman.otf') format('opentype');
}

/* HelveticaLTStd-UltraComp.otf */
@font-face {
    font-family: 'HelveticaLTStd-UltraComp';
    src: url('./HelveticaLTStd-UltraComp.otf') format('opentype');
}

/* HelveticaNeueLTCom-BdOu.ttf */
@font-face {
    font-family: 'HelveticaNeueLTCom-BdOu';
    src: url('./HelveticaNeueLTCom-BdOu.ttf') format('truetype');
}

/* HelveticaNeueLTCom-Blk.ttf */
@font-face {
    font-family: 'HelveticaNeueLTCom-Blk';
    src: url('./HelveticaNeueLTCom-Blk.ttf') format('truetype');
}

/* HelveticaNeueLTCom-BlkCn.ttf */
@font-face {
    font-family: 'HelveticaNeueLTCom-BlkCn';
    src: url('./HelveticaNeueLTCom-BlkCn.ttf') format('truetype');
}

/* HelveticaNeueLTCom-BlkCnO.ttf */
@font-face {
    font-family: 'HelveticaNeueLTCom-BlkCnO';
    src: url('./HelveticaNeueLTCom-BlkCnO.ttf') format('truetype');
}

/* HelveticaNeueLTCom-BlkEx.ttf */
@font-face {
    font-family: 'HelveticaNeueLTCom-BlkEx';
    src: url('./HelveticaNeueLTCom-BlkEx.ttf') format('truetype');
}

/* HelveticaNeueLTCom-BlkExO.ttf */
@font-face {
    font-family: 'HelveticaNeueLTCom-BlkExO';
    src: url('./HelveticaNeueLTCom-BlkExO.ttf') format('truetype');
}

/* HelveticaNeueLTCom-Cn.ttf */
@font-face {
    font-family: 'HelveticaNeueLTCom-Cn';
    src: url('./HelveticaNeueLTCom-Cn.ttf') format('truetype');
}

/* HelveticaNeueLTCom-CnO.ttf */
@font-face {
    font-family: 'HelveticaNeueLTCom-CnO';
    src: url('./HelveticaNeueLTCom-CnO.ttf') format('truetype');
}

/* HelveticaNeueLTCom-Ex.ttf */
@font-face {
    font-family: 'HelveticaNeueLTCom-Ex';
    src: url('./HelveticaNeueLTCom-Ex.ttf') format('truetype');
}

/* HelveticaNeueLTCom-ExO.ttf */
@font-face {
    font-family: 'HelveticaNeueLTCom-ExO';
    src: url('./HelveticaNeueLTCom-ExO.ttf') format('truetype');
}

/* HelveticaNeueLTCom-Lt.ttf */
@font-face {
    font-family: 'HelveticaNeueLTCom-Lt';
    src: url('./HelveticaNeueLTCom-Lt.ttf') format('truetype');
}

/* HelveticaNeueLTCom-LtCn.ttf */
@font-face {
    font-family: 'HelveticaNeueLTCom-LtCn';
    src: url('./HelveticaNeueLTCom-LtCn.ttf') format('truetype');
}

/* HelveticaNeueLTCom-LtCnO.ttf */
@font-face {
    font-family: 'HelveticaNeueLTCom-LtCnO';
    src: url('./HelveticaNeueLTCom-LtCnO.ttf') format('truetype');
}

/* HelveticaNeueLTCom-LtEx.ttf */
@font-face {
    font-family: 'HelveticaNeueLTCom-LtEx';
    src: url('./HelveticaNeueLTCom-LtEx.ttf') format('truetype');
}

/* HelveticaNeueLTCom-LtExO.ttf */
@font-face {
    font-family: 'HelveticaNeueLTCom-LtExO';
    src: url('./HelveticaNeueLTCom-LtExO.ttf') format('truetype');
}

/* HelveticaNeueLTCom-Md.ttf */
@font-face {
    font-family: 'HelveticaNeueLTCom-Md';
    src: url('./HelveticaNeueLTCom-Md.ttf') format('truetype');
}

/* HelveticaNeueLTCom-MdCn.ttf */
@font-face {
    font-family: 'HelveticaNeueLTCom-MdCn';
    src: url('./HelveticaNeueLTCom-MdCn.ttf') format('truetype');
}

/* HelveticaNeueLTCom-MdCnO.ttf */
@font-face {
    font-family: 'HelveticaNeueLTCom-MdCnO';
    src: url('./HelveticaNeueLTCom-MdCnO.ttf') format('truetype');
}

/* HelveticaNeueLTCom-MdEx.ttf */
@font-face {
    font-family: 'HelveticaNeueLTCom-MdEx';
    src: url('./HelveticaNeueLTCom-MdEx.ttf') format('truetype');
}

/* HelveticaNeueLTCom-MdExO.ttf */
@font-face {
    font-family: 'HelveticaNeueLTCom-MdExO';
    src: url('./HelveticaNeueLTCom-MdExO.ttf') format('truetype');
}

/* HelveticaNeueLTCom-Roman.ttf */
@font-face {
    font-family: 'HelveticaNeueLTCom-Roman';
    src: url('./HelveticaNeueLTCom-Roman.ttf') format('truetype');
}

/* HelveticaNeueLTCom-Th.ttf */
@font-face {
    font-family: 'HelveticaNeueLTCom-Th';
    src: url('./HelveticaNeueLTCom-Th.ttf') format('truetype');
}

/* HelveticaNeueLTCom-ThCn.ttf */
@font-face {
    font-family: 'HelveticaNeueLTCom-ThCn';
    src: url('./HelveticaNeueLTCom-ThCn.ttf') format('truetype');
}

/* HelveticaNeueLTCom-ThCnO.ttf */
@font-face {
    font-family: 'HelveticaNeueLTCom-ThCnO';
    src: url('./HelveticaNeueLTCom-ThCnO.ttf') format('truetype');
}

/* HelveticaNeueLTCom-ThEx.ttf */
@font-face {
    font-family: 'HelveticaNeueLTCom-ThEx';
    src: url('./HelveticaNeueLTCom-ThEx.ttf') format('truetype');
}

/* HelveticaNeueLTCom-ThExO.ttf */
@font-face {
    font-family: 'HelveticaNeueLTCom-ThExO';
    src: url('./HelveticaNeueLTCom-ThExO.ttf') format('truetype');
}

/* HelveticaNeueLTCom-UltLt.ttf */
@font-face {
    font-family: 'HelveticaNeueLTCom-UltLt';
    src: url('./HelveticaNeueLTCom-UltLt.ttf') format('truetype');
}

/* HelveticaNeueLTCom-UltLtCn.ttf */
@font-face {
    font-family: 'HelveticaNeueLTCom-UltLtCn';
    src: url('./HelveticaNeueLTCom-UltLtCn.ttf') format('truetype');
}

/* HelveticaNeueLTCom-UltLtCnO.ttf */
@font-face {
    font-family: 'HelveticaNeueLTCom-UltLtCnO';
    src: url('./HelveticaNeueLTCom-UltLtCnO.ttf') format('truetype');
}

/* HelveticaNeueLTCom-UltLtEx.ttf */
@font-face {
    font-family: 'HelveticaNeueLTCom-UltLtEx';
    src: url('./HelveticaNeueLTCom-UltLtEx.ttf') format('truetype');
}

/* HelveticaNeueLTCom-UltLtExO.ttf */
@font-face {
    font-family: 'HelveticaNeueLTCom-UltLtExO';
    src: url('./HelveticaNeueLTCom-UltLtExO.ttf') format('truetype');
}

/* HelveticaNeueLTCom-XBlkCn.ttf */
@font-face {
    font-family: 'HelveticaNeueLTCom-XBlkCn';
    src: url('./HelveticaNeueLTCom-XBlkCn.ttf') format('truetype');
}

/* HelveticaRoundedLTStd-Bd.otf */
@font-face {
    font-family: 'HelveticaRoundedLTStd-Bd';
    src: url('./HelveticaRoundedLTStd-Bd.otf') format('opentype');
}

/* HelveticaRoundedLTStd-BdCn.otf */
@font-face {
    font-family: 'HelveticaRoundedLTStd-BdCn';
    src: url('./HelveticaRoundedLTStd-BdCn.otf') format('opentype');
}

/* HelveticaRoundedLTStd-BdCnO.otf */
@font-face {
    font-family: 'HelveticaRoundedLTStd-BdCnO';
    src: url('./HelveticaRoundedLTStd-BdCnO.otf') format('opentype');
}

/* HelveticaRoundedLTStd-BdO.otf */
@font-face {
    font-family: 'HelveticaRoundedLTStd-BdO';
    src: url('./HelveticaRoundedLTStd-BdO.otf') format('opentype');
}

/* HelveticaRoundedLTStd-Black.otf */
@font-face {
    font-family: 'HelveticaRoundedLTStd-Black';
    src: url('./HelveticaRoundedLTStd-Black.otf') format('opentype');
}

/* HelveticaRoundedLTStd-BlkO.otf */
@font-face {
    font-family: 'HelveticaRoundedLTStd-BlkO';
    src: url('./HelveticaRoundedLTStd-BlkO.otf') format('opentype');
}

/* HelveticaWorld-Bold.ttf */
@font-face {
    font-family: 'HelveticaWorld-Bold';
    src: url('./HelveticaWorld-Bold.ttf') format('truetype');
}

/* HelveticaWorld-BoldItalic.ttf */
@font-face {
    font-family: 'HelveticaWorld-BoldItalic';
    src: url('./HelveticaWorld-BoldItalic.ttf') format('truetype');
}

/* HelveticaWorld-Italic.ttf */
@font-face {
    font-family: 'HelveticaWorld-Italic';
    src: url('./HelveticaWorld-Italic.ttf') format('truetype');
}

/* HelveticaWorld-Regular.ttf */
@font-face {
    font-family: 'HelveticaWorld-Regular';
    src: url('./HelveticaWorld-Regular.ttf') format('truetype');
}